<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-init-method="init" default-destroy-method="destroy"> <!--default-init/destroy sets the default init , destroy method for all the beans under this tag. if this method present then it is used else ignored(no error) -->
    <!--  <bean id="triangle" class="com.sam.Triangle" name="another_ref_for_triangle">
        <property name="points">
            <list>
                <ref bean="pointA"/>
                <ref bean="pointB"/>
                <ref bean="pointC"/>
            </list> 
        </property>
    </bean>-->
    <!--<bean id="pointB"  class="com.sam.Point" init-method="myInit" destroy-method="myDestroy">--> <!--you can have custom init and destroy particularly for a bean by setting these two values-->
    <bean id="pointB"  class="com.sam.Point" >
        <property name="x" value="${pointB.x}"/>
        <property name="y" value="${pointB.y}"/>
    </bean>
                                                                 
    <bean id="pointC" class="com.sam.Point">
        <property name="x" value="${pointC.x}"/>
        <property name="y" value="${pointC.y}"/>
    </bean>

    <bean id="pointA" class="com.sam.Point" >
        <property name="x" value="${pointA.x}"/>
        <property name="y" value="${pointA.y}"/>
    </bean>
                                                                
    <bean id="parentbean" class="com.sam.Triangle">
        <property name="a" ref="pointA"/>
        <property name="b" ref="pointB"/>
        <property name="c" ref="pointC"/>
    </bean>

    <bean id="triangle" class="com.sam.Triangle" parent="parentbean" scope="prototype">
    </bean>

   <bean id="circle" class="com.sam.Circle" >
       <!--<property name="center" ref="pointA"/>-->
    </bean>

    <bean class="com.sam.MyBeanFactoryPostProcessor"/>
    <!--<bean class="com.sam.DisplayNameBeanProcessor"/>-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="src/main/resources/points.properties"/>
    </bean>

    <!--Tell spring to check if the properties are set after the bean initialization (before program execution)-->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />
</beans>
